<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>Contact Me</h2>
          <p>If you think that I am worthy enough of your attention, don't hesitate to contact me at the links below. Feel free to give any constructive criticism, or just to say hello!</p>
          <p><a href="mailto:rjmasikome@gmail.com">rjmasikome@gmail.com</a>
          <p>PS: The background is a picture from my hometown, Manado.</a>
          </p>
          <ul class="list-inline banner-social-buttons">
              <li>
                  <a href="https://www.instagram.com/rjmasikome/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
              </li>
              <li>
                  <a href="https://github.com/rjmasikome" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                  <a href="https://www.facebook.com/rjmasikome" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Facebook</span></a>
              </li>
          </ul>
      </div>
  </div>
</div>
