<div class="container">
  <div class="col-lg-12">
      <h2>Education</h2>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>RWTH Aachen University</h3>
      <p>Retrieved a <a href="#">Master of Science in Media Informatics</a>, and completed studies on April 2017. While studying, working as a part time as Java Script Developer. The thesis is about big data in summarizing schema of semi-structured database using Principal Component Analysis. Subject includes, Computer Graphics, Human Computer Interaction, Data Communication, Image Processing, Scientific Visualization, etc.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Multimedia University</h3>
      <p>Graduated in March 2011 as <a href="#">Bachelor of Information and Technology majoring in Security Technology</a>. As a student active in many campus organizations and volunteering. The bachelor thesis aimed to help disabled people who are blind or those who are having dyslexia in browsing web page. Which yields a Speech Web browser that is written in Microsoft .Net frameworks.
    </div>
  </div>
</div>
