<div class="intro-body">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">RJ Masikome</h1>
                <p class="intro-text">A versatile full stack js developer
                 <br />Hail from Manado, Indonesia<br />Currently in Bonn, Germany</p>
                <a href="#work" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</div>
