<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Working Experience</h2>
        <p>Currently working as a full stack javascript developer. The recent working experiences mainly about web development in javascript which use javascript framework for frontend and NodeJS as backend. Previous work experience includes working as technical support and devops.</p>
      </div>
    </div>
      <div class="cd-horizontal-timeline text-left">
      <div class="timeline">
        		<div class="events-wrapper">
        			<div class="events">
        				<ol>
        					<li><a href="#" data-date="01/10/2016" class="selected">Oct '16</a></li>
        					<li><a href="#" data-date="01/12/2015">Dec '15</a></li>
        					<li><a href="#" data-date="01/07/2015">Jul '15</a></li>
        					<li><a href="#" data-date="01/04/2015">Apr '15</a></li>
        					<li><a href="#" data-date="01/08/2011">Aug '11</a></li>
                  <li><a href="#" data-date="01/10/2010">Oct '10</a></li>
        				</ol>

        				<span class="filling-line" aria-hidden="true"></span>
        			</div> <!-- .events -->
        		</div> <!-- .events-wrapper -->

        		<ul class="cd-timeline-navigation">
        			<l i><a href="#0" class="prev inactive">Prev</a></li>
        			<li><a href="#0" class="next">Next</a></li>
        		</ul> <!-- .cd-timeline-navigation -->
        	</div> <!-- .timeline -->

        	<div class="events-content">
        		<ol>
        			<li class="selected" data-date="01/10/2016">
        				<h3>Web Developer</h3>
        				<em>Homelike, Cologne (Oct 2016 - Now)</em>
                <p>
                  To develop a front-end and back-end for furnished apartment renting system and integrations.
                  The front-end is based on Meteor that will allow tenant and landlord to manage their booking and apartment.
                  Some of the back-end was developed is integration with third party for collaboration and notification.
                  Technologies used, Meteor, React JS, MonggoDB, Less, Bootstrap, Express, Webpack, NPM modules, Docker, AWS, Jenkins, Git.
                </p>
              </li>

        			<li data-date="01/12/2015">
        				<h3>Full Stack Developer</h3>
        				<em>Troius Software, Bonn (November 2015 - October 2016)</em>
        				<p>
                  To develop a front-end and back-end of ordered software based on the requirement from a customer.
                  There are some we   b application as interface of centralized temperature and also front-end and document generator for biomedicine.
                  Technologies used, Polymer, JQuery, Sass, Backbone, Material designs, Redis, sax.js, various node modules, Webpack, Git.        				</p>
        			</li>

        			<li data-date="01/07/2015">
        				<h3>Front-end Developer</h3>
        				<em>Fedger.io, Cologne (July 2015 – October 2015)</em>
        				<p>
                  To develop a front-end for underlying data that stores information about company around the work.
                  The application is based on React JS framework and using combination of Material Design from Google and Bootstrap for styling.
                  The job scope includes, developing features from the data given, develop a good visual representation of data, and also working on the User experience of the application.
                  Technologies used, React JS, Bootstrap, Material designs, various node modules, Gulp, HTML, CSS, Git.
        				</p>
        			</li>

        			<li data-date="01/04/2015">
        				<h3>Student Assistant as Front-End Developer</h3>
        				<em>EIS Department of Uni Bonn (April 2015 – July 2015)</em>
        				<p>
                  To develop an open source wiki that is used internally and in a couple of Universities called Slidewiki. The wiki is based on React.
                  The scope of the job includes, developing new features, fixing bug, and also improve usability.
                  Technologies used, React JS, Grunt, MySQL, HTML, CSS, Git, Linux server.        				</p>
        			</li>

        			<li data-date="01/08/2011">
        				<h3>Suport Engineer</h3>
        				<em>Atlassian Software, Kuala Lumpur - Amsterdam (August 2011 - October 2014)</em>
        				<p>
                  To support Confluence, JIRA, Bamboo and SaaS Hosted environment.
                  Providing technical support to customer, handles customer escalation at times, and improved documentation of training materials and support processes.
                  Technologies used includes, Application Servers (Tomcat), Databases (MySQL, PostgreSQL, HSQLDB, DB2), LDAP, Apache proxy server, and bash scripting in UNIX based machine.
        				</p>
        			</li>

        			<li data-date="01/10/2010">
        				<h3>Intern DevOps</h3>
        				<em>SoftInn, Melaka (October 2010 – January 2011)</em>
        				<p>
                  Work as an Intern at SoftInn, a local startup that works in Hotel reservation system.
                  The task was to design and develop frontend Interface.
                  After that, feature .Net based POS must be developed and maintained.
                  Maintaining the company website and also some System Admin tasks.        				</p>
        			</li>
        		</ol>
      </div>
    </div>
</div>
